
# OS support
.DS_Store

# Tool support
.vagrant
npm-debug.log

# Locally installed dependencies
node_modules
web/vendor

# Local config
app/workflow/params.sh
app/config/params.js

# Build files
web/build

# Temporary files
app/tmp

# Generated (or otherwise locally managed) content
app/posts
web/content
