@import url("../vendor/bootstrap/dist/css/bootstrap.css");
@import url("../vendor/bootstrap/dist/css/bootstrap-theme.css");
@import url("../vendor/font-awesome/css/font-awesome.min.css");

/* Fonts */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
        url('../fonts/lato_300.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/lato_400.woff') format('woff');
}

/* Animations */
.ease-in .ng-enter, .ease-in .ng-leave {
    transition: all .2s ease-in-out;
}

.ease-in .ng-enter {
    opacity: 0;
}

.ease-in .ng-enter-active {
    opacity: 1;
}

.ease-in .ng-leave {
    opacity: 1;
}

.ease-in .ng-leave-active {
    opacity: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

html {
    height: 100%;
    background-color: #485A6E;
    /*background: linear-gradient(top, #354352, #485A6E);*/
    background: linear-gradient(to bottom, #242E38, #485A6E) #485A6E;
    background-attachment: fixed; 
    background-repeat: repeat-x;
}

body {
    background: none;
}

a:link, a:hover {
    text-decoration: none;
}

@import url("mkr.less");
@import url("blog.less");
