
.mkr {
    .content {
        margin: 0 auto;
        margin-top: 140px;
        padding-left: 40px;
        width: 500px;
        color: white;
        
        h1 {
            font-size: 38px;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        
        .light {
            color: white;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 300;
            font-size: 42px;
            text-decoration: none;
        }
        
        h2 {
            .light;
        }
        
        .home-links {
            border-left: 5px solid white;
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-left: 30px;
        }
        
        .home-links a {
            .light;
        }
        
        .home-links a:hover {
            color: #ddd;
        }
    }
}
