
<div class="mkr">
    <div class="content ease-in">
        <div class="me">
            <div class="me-links">
                <a href="http://github.com/mkrause" target="_blank"><i class="fa fa-github-square"></i></a>
                <a href="http://twitter.com/maikelkrause" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="http://linkedin.com/profile/view?id=71351191" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            </div>
            
            <h1>mkrause</h1>
            
            <ul class="me-menu">
                <li ui-sref-active="active"><a ui-sref="mkr.site.posts.list">posts</a></li>
                <li ui-sref-active="active"><a ui-sref="mkr.site.about">about</a></li>
                <li ui-sref-active="active"><a href="#">slides</a></li>
            </ul>
        </div>
        
        <div ui-view></div>
    </div>
</div>
