<div class="container">
    <div class="page-header">
        <h1>mkrause</h1>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-xs-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Navigation</b></div>
                <div class="list-group">
                    <a class="list-group-item" ui-sref="mkr.index">Home</a>
                    <a class="list-group-item" ui-sref="mkr.crud">CRUD demo</a>
                    <a class="list-group-item" ui-sref="blog.index">Blog</a>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-9">
            <div class="ease-in" id="content" ui-view></div>
        </div>
    </div>
</div>
