
<div class="mkr">
    <div class="content ease-in">
        <div class="me">
            <div class="me-links">
                <a href="http://github.com/mkrause" target="_blank"><i class="fa fa-github-square"></i></a>
                <a href="http://twitter.com/maikelkrause" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="http://linkedin.com/profile/view?id=71351191" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            </div>
            
            <h1>mkrause</h1>
            
            <ul class="me-menu">
                <li><a ui-sref="index">posts</a></li>
                <li><a ui-sref="mkr.about">about</a></li>
                <li><a href="#">slides</a></li>
            </ul>
        </div>
        
        <div ui-view></div>
    </div>
</div>
