<h2>List</h2>
<ul>
    <li ng-repeat="user in users track by user.id">
        <span style="background: {{ user.name == $parent.user.name ? '#888' : 'default' }}">
            {{ user.id }} - {{ user.name }}
        </span>
    </li>
</ul>

<h2>Create</h2>

<form role="form" style="max-width: 500px" ng-submit="create()">
    <div class="form-group">
        <label for="user-name">Name</label>
        <input type="input" class="form-control" id="user-name" placeholder="Enter name"
            ng-model="newUser.name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h2>Read</h2>

<form role="form" style="max-width: 500px" ng-submit="read()">
    <div class="form-group">
        <label for="user-id">ID</label>
        <input type="input" class="form-control" id="user-id" placeholder="Enter ID"
            ng-model="user.id">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h2>Update</h2>

<form role="form" style="max-width: 500px" ng-submit="update()">
    <div class="form-group">
        <label for="user-name">Name</label>
        <input type="input" class="form-control" id="user-name" placeholder="Enter name"
            ng-model="user.name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h2>Delete</h2>

<p>
    <button ng-click="delete()" class="btn btn-default">Delete</button>
</p>
