
<h1>mkrause</h1>

<ul class="home-links">
    <li><a ui-sref="mkr.about">About</a></li>
    <li><a ui-sref="blog.index">Blog</a></li>
    <li><a href="#">Presentations</a></li>
    <li>
        <a href="http://github.com/mkrause"><i class="fa fa-github-square fa-lg"></i></a>
        <a href="http://twitter.com/maikelkrause"><i class="fa fa-twitter-square fa-lg"></i></a>
        <a href="http://linkedin.com/profile/view?id=71351191"><i class="fa fa-linkedin-square fa-lg"></i></a>
    </li>
</ul>
