
{{ layout.update('title', 'Posts') }}

<div class="post" ng-repeat="post in posts track by post.id" ng-class="{last: $last}">
    <h2 class="post-article" ng-if="!post.link">
        <a ui-sref="mkr:site:posts:post_with_slug({id: post.id, slug: post.slug})">
            {{post.title}}
        </a>
    </h2>
    <h2 class="post-link" ng-if="post.link">
        <i class="fa fa-external-link"></i>
        <a href="{{post.link}}">
            "{{post.title}}"
        </a>
    </h2>
    <p class="subtitle">
        <i class="fa fa-clock-o"></i> {{post.date}}
        
        <span ng-if="post.tags.length > 0">
            &nbsp; <i class="fa fa-tag"></i> {{post.tags.join(', ')}}
        </span>
    </p>
    <div ng-bind-html="post.body"></div>
</div>
