<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    
    <title ng-bind="layout.makeTitle('mkrause')">mkrause</title>
    
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="alternate" type="application/atom+xml" title="Posts" href="/feed.xml">
    
<% if (env === "production") { %>
    <link rel="stylesheet" href="build/app.css">
    <script src="build/app.js" async></script>
<% } else { %>
    <link rel="stylesheet/less" href="style/main.less">
    <script>
    less = {
        env: "development",
        logLevel: 1 // Only log errors
    };
    </script>
    <script src="vendor/less.js/dist/less-1.5.0.js"></script>
<% } %>
</head>
<body>
    
    <div id="global-error" class="alert alert-danger" style="display: none; margin: 50px">
        <strong>Well, damn. Something seems to have gone wrong, sorry about that. Maybe you're
        running an older version of your browser? This site should work on the latest versions
        of most major browsers.</strong>
    </div>
    <script>
    window.onerror = function(message, url, lineNumber) {
        document.getElementById('global-error').style.display = 'block';
        
        if (window.XMLHttpRequest) {
            // Log this error
            var xhr = new XMLHttpRequest();
            var params = 'message=' + encodeURIComponent(message)
                + '&url=' + encodeURIComponent(url)
                + '&line=' + encodeURIComponent(lineNumber)
                + '&user_agent=' + encodeURIComponent(navigator.userAgent);
            xhr.open('POST', '/api/client_error', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(params);
        }
        
        // Trigger the built-in error handler
        return false;
    };
    </script>
    
    <div ui-view>
        <!--
        Kind of empty right? All content is generated through AngularJS, and all the code's
        been compressed and minified.
        
        Check out the source code on: https://github.com/mkrause/mkrause-site
        -->
    </div>
    
<% if (env === "development") { %>
    <script src="vendor/requirejs/require.js"></script>
    <script src="scripts/require_config.js"></script>
    <script>
    require(['main']);
    </script>
<% } %>

<% if (env === "production") { %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-792475-4', 'mkrause.nl');
    ga('send', 'pageview');
    </script>
<% } %>

</body>
</html>
